In [2]:
import pandas as pd
import json
df=pd.read_csv("../data_given/winequality.csv",sep=";")
df.describe()
df.describe().loc[["min","max"]].to_json("schema_in.json")

In [16]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [23]:
df.describe().loc[["min","max"]].to_json("schema_in.json")

In [6]:
b={}
for i in df.columns:
    a=df.describe().loc["mean"].to_json()[i]["mean"]
    b[i]=a

TypeError: string indices must be integers

In [14]:
a=df.describe().loc["mean"].to_dict()
a

{'fixed acidity': 8.319637273295838,
 'volatile acidity': 0.5278205128205131,
 'citric acid': 0.2709756097560964,
 'residual sugar': 2.5388055034396517,
 'chlorides': 0.08746654158849257,
 'free sulfur dioxide': 15.874921826141339,
 'total sulfur dioxide': 46.46779237023139,
 'density': 0.9967466791744831,
 'pH': 3.311113195747343,
 'sulphates': 0.6581488430268921,
 'alcohol': 10.422983114446502,
 'quality': 5.6360225140712945}